@model IEnumerable<QHub.Models.Subject>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Questions</h1>
<hr />
<table class="table table-borderless" style="vertical-align:middle;">
    @foreach (var subject in Model)
    {
        <tr>
            <th>
                <h5>@Html.DisplayFor(m => subject.Name)</h5>
            </th>
            <th style="text-align:right;">
                <a class="btn btn-success" asp-action="Create" asp-route-id="@subject.Id">Add Question</a>
            </th>
        </tr>
        <tr>
            <td colspan="2">
                <table class="table table-info table-borderless" style="vertical-align:middle;border-bottom: solid black 1px;">
                    @if (subject.Questions.Any())
                    {
                        <th width="170">Topic</th>
                        <th>Question</th>
                        <th width="100">Closing Date</th>
                        <th width="260"></th>
                    }
                    @foreach (var question in subject.Questions)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => question.TopicName)
                            </td>
                            <td>
                                @Html.DisplayFor(m => question.ShortQuestionText)
                            </td>
                            <td>
                                @Html.DisplayFor(m => question.CloseDate)
                            </td>
                            <td style="text-align:right;">
                                <a class="btn btn-success" style="width:70px;" asp-action="Edit" asp-route-id="@question.Id">Edit</a>
                                <a class="btn btn-danger" style="width:70px;" asp-action="Delete" asp-route-id="@question.Id">Delete</a>
                                <a class="btn btn-primary" style="width:140px;" asp-action="IndexRedirect" asp-controller="Question" asp-route-id="@question.Id">@question.Responses.Count Responses</a>
                            </td>
                        </tr>
                    }
                </table>
            </td>
        </tr>
    }
</table>
