@model IEnumerable<QHub.Models.Question>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Responses</h1>
<hr />
<div style="text-align:right;width:100%"> @Html.ActionLink("Return to list", nameof(Index), "Question",null, new { style = "width:150px;", @class = "btn btn-primary" })</div>

@foreach (var item in Model)
{
    <table class="table table-borderless" style="width:100%;height:20%">
        <tbody>
            <tr>
                <th>
                    @Html.DisplayNameFor(m => item.QuestionText)
                </th>
            </tr>
            <tr>
                <td style="border:solid gray 1px;padding:20px;white-space:normal;">
                    @Html.DisplayFor(m => item.ShortQuestionText)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(m => item.IdealResponse)
                </th>
            </tr>
            <tr>
                <td style="border:solid gray 1px;padding:20px;white-space:normal;">
                    @Html.DisplayFor(m => item.IdealResponse)
                </td>
            </tr>
        </tbody>
    </table>
    <div style="overflow-y:scroll;">
        <table class="table">
            <tbody cellpadding="0" cellspacing="0">
                @foreach (var response in item.Responses)
                {
                    <tr class="table-dark" style="vertical-align:middle;">
                        <td>
                            @Html.DisplayFor(modelItem => response.Responder.DisplayName)
                        </td>
                        <td style="text-align:right;">
                            <b>Mark:</b> @Html.TextBoxFor(modelItem => response.Mark, "{0:N1}")
                        </td>
                    </tr>
                    <tr style="vertical-align:top;">
                        <td style="width:50%;white-space:pre-wrap;vertical-align:top;text-align:left;">
                            @response.ResponseText
                        </td>
                        <td style="width:50%;">
                            @Html.TextAreaFor(modelItem => response.Comments, new { style="width:100%;height:100%;"})
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
}
